<% @num ||= 5 %>


<%= form_for @team, :html => { :multipart => true} do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> no ha permitido que se cree el equipo:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<table id="new_team" columns=2>
		
		<td id="left">
			<div class="field">
				<%= f.label :name, "Nombre" %><br />
				<%= f.text_field :name, :required => true %>
			</div>
			
			<div class="field">
				<%= f.label :logo %><br />
				<%= f.file_field :logo %>
				<% if @team.logo.file? %>
					<p><%= image_tag @team.logo.url(:thumb) %></p>
				<% end %>					
			</div>
			
						
		</td>
		<td id="right">
<!--
			<div id="spoiler" style="width:auto">Los usuarios de la UV van sin el @alumni.uv.es al final :)</div>
-->
			<% selected = 0; n = 0 %>
			<% if @num<5 %>
				<%= link_to "+ Añadir invocador", recruit_num_path('recruit', @num+1), :class => "more_sumonners" %>
			<% end %>
			
			<%= f.fields_for :users do |builder| %>

				<% if selected == n %>
					<div class="summ_container selected" >
				<% else %>
					<div class="summ_container">
				<% end %>
						<% if n>0 && @tpye == 'recruit'%>
							<%= link_to "x", recruit_num_path('recruit', @num-1), :class => "more_sumonners", :style=> "float:right"%>
						<% end %>
						<div class="summ">Invocador</div>
						
						<%= render "user_fields", :f => builder %>
				</div>
				<% n+= 1 %>
			<% end %>	
	
		</td>
  </table>
  <div id="spoiler">Las contraseñas se enviarán por correo a las cuentas de los usuarios de la UV suministrados.<br />
  Recordad que el nombre de invocador tiene que ser el usado en el servidor EUW.</div>
  <span id="back_but"><%= link_to 'Atrás', @type == 'recruit' ? teams_index_type_path('recruit') : teams_path %></span>
	<span class="actions" id="send_but">
		<%= f.submit "Enviar" %>
	</span>
<% end %>
