<div class="summ_desc">
	<%= f.label :username, "Nombre de invocador" %><br />
	<%= f.text_field :username, :required => true %><br />
	<%= f.label :uvuser, "Usuario de la UV" %><br />
	<%= f.text_field :uvuser, :required => true %><div class="alumni_email">@alumni.uv.es</div>
</div>

