
<div id="join">
	<div id="recruit"><span class="join_button"><%= link_to "Busco equipo", teams_index_type_path("recruit") %></span></div><div id="premade"><span class="join_button"><%= link_to "Tengo equipo", teams_new_type_path("premade") %></span></div>
</div>
