<h1>Equipos</h1>
<p id="alert"><%= alert %></p>
<div id="teams_index">
	<div class="teams_head">
<!--
		TITLE
-->
		<% if @type == 'recruit' %>
			<b>Equipos verificados</b>
		<% else %>
			<b>Eliminatorias</b>
		<% end %>
<!--
		RIGHT INFO (results)
-->
		<% if @type == 'recruit' %>
			
		<% else %>
			<span class="results">
				<span class="games">G</span>
				<span class="won">W</span>
				<span class="lost">L</span>
				<span class="points">P</span>
			</span>
		<% end %>
  </div>
  
<!--
	TEAMS
-->
	<% @teams.each do |team| %>
		<% if current_user && current_user.team.id == team.id %>
			<div class="team glow">
		<% else %>
			<div class="team">
		<% end %>

			<div class="t_logo"><%= image_tag team.logo.url(:icon), :height=>32 %></div>
			<span class="name"><%= link_to team.name, team  %></span>
			
			<% if @type == 'recruit' %>
			
			<% else %>
				<span class="results">
					<span class="games"></span>
					<span class="won"></span>
					<span class="lost"></span>
					<span class="points"></span>
				</span>
			<% end %>
		</div>
	<% end %>
<br />
<div class="spoiler">Si quieres crear un nuevo equipo, haz click en <%= link_to "Nuevo", teams_new_type_path('recruit') %>.</div>
<br /><br />

<!--
	NOT VERIFIED TEAMS
-->
	<% if @not_ver_teams.length > 0 %>
		<div id="teams_not_verified" style="opacity:0.6">
			<div class="teams_head">
				<b>Equipos no verificados</b>
				<span class="results">
				</span>
			</div>
			<% @not_ver_teams.each do |team| %>
					<% if current_user && current_user.team.id == team.id %>
						<div class="team glow">
					<% else %>
						<div class="team">
					<% end %>

						<div class="t_logo"><%= image_tag team.logo.url(:icon), :height=>32 %></div>
						<span class="name"><%= link_to team.name, team  %></span>
						<span class="results">
							<span class="games"></span>
							<span class="won"></span>
							<span class="lost"></span>
							<span class="points"></span>
						</span>
					</div>
			<% end %>
		</div>
	<% end %>
</div>

<br />
<% if @type == 'recruit' %>
	<div id="unete_but"><%= link_to "Nuevo", teams_new_type_path('recruit') %></div>
<% else %>
	<div id="unete_but"><%= link_to "Únete", {:controller => 'teams', :action => 'new'} %></div>
<% end %>
