<!--
	LOGO
-->
	<% if @team.logo.file? %>
		<div id="t_logo"><%= image_tag @team.logo.url(:thumb) %></div>
	<% end %>
	
<!--
	NAME & NOTICE
-->
	<h1><%= @team.name %></h1>
	<p id="notice"><%= notice %></p>
	
<!--
	VERIFIED
-->
	<% if @team.verified < @verified_min %>
		<p id="not_verified">Este equipo todavía no está verificado.</p>
	<% end %>
	
<!--
	USERS
-->
	<% @team.users.each do |user| %>
		<div class="summoner"><%= link_to user.username, user %></div>
	<% end %>

<!--
	PETITION
		disabled with if !@team
-->

	<% if !@team && @team.team_type == 1 && @team.users.length < 5 %>
		<span id="email_but"><a>Petición</a></span>
	<% end %>

<!--
	BUTTONS
-->
<span id="back_but"><%= link_to 'Atrás', teams_path %></span>

<% if current_user && (current_user.team.id == @team.id || current_user.role == 1) %>
	<span id="edit_but"><%= link_to 'Editar', edit_team_path(@team) %></span>
	<span id="delete_but"><%= link_to 'Borrar', @team, method: :delete, data: { confirm: 'Estás seguro?' } %></span>
<% end %>

<% if current_user && ( current_user.role == 1) %>
	<span id="email_but"><%= link_to 'Welc.', send_welcome_team_path(@team), :method => :post, data: { confirm: 'Estás seguro?' } %></span>
<% end %>
