<%= form_for(@replay) do |f| %>
  <% if @replay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@replay.errors.count, "error") %> prohibited this replay from being saved:</h2>

      <ul>
      <% @replay.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file %><br />
    <%= f.text_field :file %>
  </div>
  <div class="field">
    <%= f.label :match_id %><br />
    <%= f.number_field :match_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
