<h1>Listing replays</h1>

<table>
  <tr>
    <th>File</th>
    <th>Match</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @replays.each do |replay| %>
  <tr>
    <td><%= replay.file %></td>
    <td><%= replay.match_id %></td>
    <td><%= link_to 'Show', replay %></td>
    <td><%= link_to 'Edit', edit_replay_path(replay) %></td>
    <td><%= link_to 'Destroy', replay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Replay', new_replay_path %>
