<p id="notice"><%= notice %></p>

<p>
  <b>File:</b>
  <%= @replay.file %>
</p>

<p>
  <b>Match:</b>
  <%= @replay.match_id %>
</p>


<%= link_to 'Edit', edit_replay_path(@replay) %> |
<%= link_to 'Back', replays_path %>
