<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Se ha pedido una recuperación de contraseña para este usuario, las nuevas credenciales son:<br/>
      <b>Usuario:</b> <%= @user.username %>	<br />
      <b>Contraseña:</b> <%= @pass %>			
    </p>
    <p>
      Si no has pedido tal recuperación, por favor ponte en contacto con el <a href="mailto:sikian@gmail.com?Subject=uvLoL%20-%20Problema%20Recuperacion">administrador</a>.
    </p>
    <p>
			Atentamente,
			la administación de <a href="http://uvlol.tk">uvlol.tk</a>.
    </p>
  </body>
</html>
