Bienvenidx al 1er torneo de League of Legends de la Universitat de València, <%= @user.username %>
=============================================================================================

El equipo <%= @user.username %> se ha registrado en nuestra base de datos.
Para poder acceder, utiliza la siguiente contraseña y cámbiala cuanto antes en http://uvlol.tk.
Usuario: <%= @user.username %>
Contraseña: <%= @pass %>			

Para que el equipo quede verificado es necesario que al menos dos personas del equipo accedan a su cuenta. 
Cuando estemos cerca del torneo se requerirá que todos los usuarios accedan a la cuenta para que podamos verificar que los usuarios de la uv son correctos.
	
Se enviará más información cuando sea necesario.
      
 :D
