<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Bienvenidx al 1er torneo de League of Legends de la Universitat de València, <%= @user.username %></h3>
    <p>
      El equipo <%= @team.name %> se ha registrado en nuestra base de datos.<br/>
      Para poder acceder, utiliza la siguiente contraseña y cámbiala cuanto antes en <a href="http://uvlol./login">uvlol.tk</a>.<br /><br />
      <b>Usuario:</b> <%= @user.username %><br />
      <b>Contraseña:</b> <%= @pass %>			
    </p>
		<p>
			Para que el equipo quede verificado es necesario que al menos dos personas del equipo accedan a su cuenta. 
			Cuando estemos cerca del torneo se requerirá que todos los usuarios accedan a la cuenta para que podamos verificar que los usuarios de la uv son correctos.
		</p>    
		<p>
			Recordad que en caso de tener problemas con la contraseña utilicéis la <a href="http://uvlol.tk/new_password">recuperación de contraseña</a>.
		</p>
    <p>
      Se enviará más información cuando sea necesario.
    </p>
    <p>:D</p>
  </body>
</html>
