<%= form_for(@petition) do |f| %>
  <% if @petition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@petition.errors.count, "error") %> prohibited this petition from being saved:</h2>

      <ul>
      <% @petition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br />
    <%= f.text_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :petition_comments %><br />
    <%= f.text_field :petition_comments %>
  </div>
  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </div>
  <div class="field">
    <%= f.label :answer_comments %><br />
    <%= f.text_area :answer_comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
