<h1>Listing petitions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Team</th>
    <th>Petition comments</th>
    <th>Answer</th>
    <th>Answer comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @petitions.each do |petition| %>
  <tr>
    <td><%= petition.user_id %></td>
    <td><%= petition.team_id %></td>
    <td><%= petition.petition_comments %></td>
    <td><%= petition.answer %></td>
    <td><%= petition.answer_comments %></td>
    <td><%= link_to 'Show', petition %></td>
    <td><%= link_to 'Edit', edit_petition_path(petition) %></td>
    <td><%= link_to 'Destroy', petition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Petition', new_petition_path %>
