<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @petition.user_id %>
</p>

<p>
  <b>Team:</b>
  <%= @petition.team_id %>
</p>

<p>
  <b>Petition comments:</b>
  <%= @petition.petition_comments %>
</p>

<p>
  <b>Answer:</b>
  <%= @petition.answer %>
</p>

<p>
  <b>Answer comments:</b>
  <%= @petition.answer_comments %>
</p>


<%= link_to 'Edit', edit_petition_path(@petition) %> |
<%= link_to 'Back', petitions_path %>
