<%= form_for(@user, :url => change_password_path(@user.id)) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--
	<div class="field">
    <%= label_tag :old_password, "Contraseña anterior" %><br />
    <%= text_field_tag :old_password %>
  </div>
-->
	<% if @change %>
		<div class="notice">La contraseña ha sido cambiada.</div>
	<% elsif @false_password %>
		<div class="error">La contraseña no es correcta.</div>
	<% end %>
	<div class="field">
    <%= f.label :old_password, "Contraseña" %><br />
    <%= f.password_field :old_password %>
  </div>
  <div class="field">
    <%= f.label :new_password, "Nueva Contraseña" %><br />
    <%= f.password_field :new_password %>
  </div>
  <span class="actions">
    <%= submit_tag "Actualizar" %>
  </span>
<% end %>
