<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :uvuser %><br />
    <%= f.text_field :uvuser %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <% if current_user.role == 1 || current_user.id == 1 %>
		<div class="field">
			<%= f.label :role %><br />
			<%= f.text_field :role %>
		</div>
	<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
