<!--
	Sleepy dude just wrote "roles" and "positions" without distinction
-->
Roles:
<div id="user_positions">
	<% roles = ["top", "jungler", "mid", "adc", "support"] %>
	<% if @user.pos_a.length > 0 || its_me %>
		<% @user.pos_a.each do |pos| %>
			<div class="position" id="<%= pos %>"><%= pos.capitalize %><a class="remove_role">x</a></div>
			
<!--
			Delete each role from a role variable to know which are missing
-->
			<% if its_me %>
				<% roles.delete_if { |r| r == pos} %>
			<% end %>
		<% end %>
		
<!--
			Missing roles + Add role
-->
		<% if @user.pos_a.length < 5 %>
			<a class="add_role">+ Añadir rol</a>
			<div id="missing_roles">
			<% roles.each do |role| %>
				<a id="<%= role %>"><%= role %></a>
			<% end %>
			</div>
<!--
			Save
-->
		<div id="update_roles"><%= link_to "Guardar", update_roles_path(@user.id,"s") %></div>
		<% end %>
	<% else %>
		El usuario no ha definido ninguna posición
	<% end %>
</div>
