<% if @its_me %>
	<% 
		now = Time.now.utc;
		dead_line = Time.utc(2013, "may", 3, 13, 00, 0)
		
		dead_line_over = now <=> dead_line
	%>
	<div id="seed_form">
		<%= form_for @user, :url => update_seed_path(@user.id) do |f| %>
			Introduce cualquier texto
	
			<%= if dead_line_over == +1
				f.text_field :seed, :disabled => true
			else
				f.text_field :seed, :maxlength => 20
			end
			%>
			<%= f.submit("Enviar") %>
			<div class="spoiler">Recomendamos escribir algo que recordéis para poder comprobarlo más adelante.<br /><br />
			Para más información, revisar la <%= link_to "información de emparejamientos", matchmakinginfo_path %>.</div>
		<% end %>
	</div>
<% end %>
	
