<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Uv User</th>
<!--
    <th>Crypted password</th>

    <th>Persistence token</th>
    <th>Role</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
-->
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.team.name unless user.team.nil? %></td>
    <td><%= link_to 'Show', user %></td>
 <!--
		<td><%= user.uvuser %></td>
    <td><%= user.crypted_password %></td>
    <td><%= user.persistence_token %></td>
    <td><%= user.role %></td>
    <td><%= user.team_id %></td>
    
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%= link_to 'New User', new_user_path %>
-->
  </tr>
<% end %>
</table>

<br />


