<h2>Recuperación de contraseña</h2>

<%if @error %>
	<div class="error"><%= @error %></div>
<% end %>

<%= form_for(@user, :url => send_new_password_path) do |f| %>
	<div class="field">
		<%= f.label :username, "Invocador" %><br />
		<%= f.text_field :username, :required => true %>
	</div>
	<div class="field">
		<%= f.label :uvuser, "Usuario de la UV" %><br />
		<%= f.text_field :uvuser, :required => true %>
	</div>
	<span class="actions">
    <%= submit_tag "Enviar" %>
  </span>
<% end %>
