<% @its_me = current_user && (current_user.id == @user.id)  %>

<% if @user.team.logo.file? %>
	<div id="t_logo"><%= image_tag @user.team.logo.url(:thumb) %></div>
<% end %>

<h1><%= @user.username %>
	<% if current_user && current_user.role > 0 %>
		<span class="uvuser">(<%= @user.uvuser %>@alumni.uv.es)</span>
	<% end %>
</h1>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h3><%= link_to @user.team.name, @user.team %></h3>

<% if @its_me %>
	<% if (@user.team.verified < VERIFIED_MIN) %>
		<p id="not_verified">Para verificar tu equipo tienen que entrar a su cuenta al menos <%= @verified_min %> jugadores.</p>
	<% end %>
	
	Semilla para emparejamientos:
	<%= render 'seed' %>
	
	Cambiar contraseña:
	<div id="change_password">
	<%= render 'change_password' %>
	</div>
<% end %>


<span id="back_but"><%= link_to 'Atrás', @user.team %></span>

<% if current_user && current_user.id == 1 %>
	<span id="edit_but"><%= link_to 'Editar', edit_user_path(@user) %></span>
<% end %>
