<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :required => true %>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :cols => 80, :required => true %>
  </div>
<!--
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id, :value => current_user.id %>
  </div>
-->
	
  <div class="field">
    <%= f.label :published, "Publicar" %><br />
    <div class="spoiler">Todavía no está en funcionamiento.</div>
    <%= f.datetime_select :published %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
