<h1>Noticias</h1>

<% @news.each do |news| %>
	<div class="news">
		<div class="header">
			<h3><%= link_to news.title, news %></h3>
			<span class="author"><%= news.user.username %></span> - 
			<span class="published"><%= news.created_at %></span>
    </div>
    <div class="content">
			<% if news.content.length > 500 
				lines = news.content[0..500].lines.to_a
				
				if lines.length > 5 %>
					<td><%= news.content.lines.to_a[0..5].join('<br />').html_safe %>...</td>
				
				<% else %>
					<td><%= news.content[0..500].gsub(/\n/, '<br />').html_safe %>...</td>
				<% end %>
				<br />
				<%= link_to 'Leer más', news %>
			<% else %>
				<td><%= news.content.gsub(/\n/, '<br />').html_safe %></td>
			<% end %>
			
		<% if current_user && current_user.role == 1 %>
			<div class="buttons">
				<td><%= link_to 'Edit', edit_news_path(news) %></td>
				<td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</div>
		<% end %>
    </div>
	</div>
<% end %>
<br />

<% if current_user && current_user.role == 1 %>
	<%= link_to 'New News', new_news_path %>
<% end %>
