<p id="notice"><%= notice %></p>

<div id="news">
		<div class="header">
			<h1><%= @news.title %></h1>
			<span class="author"><%= @news.user.username %></span> - 
			<span class="published"><%= @news.created_at %></span>
    </div>

<p>
  <%= @news.content.gsub(/\n/, '<br />').html_safe %>
</p>


<span id="back_but"><%= link_to 'Atrás', news_index_path %></span>
<% if current_user && current_user.role == 1 %>
		<span id="edit_but"><%= link_to 'Edit', edit_news_path(@news) %></span>
		<span id="delete_but"><%= link_to 'Destroy', @news, method: :delete, data: { confirm: 'Are you sure?' } %></span>
<% end %>
</div>
