<h1>Enviar e-mail a todos los usuarios</h1>

<p id="notice"><%= notice.to_s.html_safe if notice %></p>
<p id="alert"><%= alert.to_s.html_safe if alert %></p>

<%= form_tag("/admin/send_email", :method => "post") do %>
  <%= label_tag(:subject, "Asunto:") %><br />
  <%= text_field_tag(:subject) %>
	<br /><br />
	<%= label_tag(:content, "Contenido:") %><br />
  <%= text_area_tag :content, nil, :rows => 10, :cols => 50, :escape => false %>
  <br />
  <%= submit_tag("Enviar") %>
<% end %>
