<h2>Bases</h2>

<ul id="bases">
<li>Al ser parte de la semana cultural, se desea fomentar el trabajo en equipo (o destruir amistades) por lo tanto el torneo será de 5 vs 5.</li>

<li>La inscripción se realizará únicamente por la página web http://uvlol.tk</li>

<li>Los miembros han de tener acceso a 16 campeones para hacer el modo reclutamiento (incluídos los de rotación).</li>

<li>Se deberá enviar el nombre de todos los invocadores del equipo, elegir un capitán de entre ellos y un nombre para el equipo.</li>

<li>Se prohíbe la inscripción de equipos ajenos a la universidad de la UV.</li>

<li>Los equipos deberán estar formados totalmente por miembros de la universidad, sin importar carrera, curso, etc.</li>

<li>Los emparejamientos se harán de acuerdo a un algoritmo para que sea lo más nivelado y transparente posible.</li>

<li>Queda totalmente prohibido cualquier actitud que vaya en contra del código del invocador, siendo este motivo de descalificación del torneo.</li>

<li>Dependiendo de la cantidad de equipos inscritos en el torneo se hará o no un pre-torneo eliminatorio.</li>

<li>En caso de haber pre-torneo los capitanes de los equipo emparejados se pondrán en contacto y acordaran una fecha y hora para realizar la partida desde sus respectivas casas (capturas de pantalla aportadas como pruebas de victoria).</li>

<li>Un invocador una vez inscrito con un equipo no se podrá inscribir en otro equipo, siendo detección de esto motivo de descalificación del torneo.</li>

<li>Solo se podrá cambiar de miembros del equipo por razones justificadas, no siendo motivo justificable riñas o similares.</li>

<li>El incorrecto uso de tanto los usuarios de la UV como los de invocador será motivo de descalificación del torneo.</li>
</ul>
