<div id="torneo_logo">
	<img class="logo" src="assets/1ertorneo.png" />
	<img class="logo" src="assets/League_of_Legends_logo.png" />
	<img class="logo" src="assets/uvlong.png" />
</div>

<li id="menu">
<!--
	<ul><%= link_to "Únete", teams_new_type_path("premade"), :class => "first" %></ul>
-->
	<ul><a href="/teams">Equipos</a></ul>
	<ul><a href="/matches">Partidas</a></ul>
	<ul><a href="/news">Noticias</a></ul>
	<ul><a href="/info">Info</a></ul>
	<% if current_user %>
		<ul><a class="last" href="/users/<%= current_user.id %>" id="connected">Conectado</a></ul>
	<% else %>
		<ul><a class="last" href="/login">Login</a></ul>
	<% end %>
	<div class="chibi" id="galio"><img width="180px" src="<%= image_path('lol_chibi_galio_by_lillyfrost-d4kxlbj.png') %>" /></div>
</li>
