<p>
<h1>Información</h1>

Por motivo de la semana cultural de la ETSE de la UV, el ADR de la ETSE llama a todos los invocadores a participar en el 1º torneo del LoL de la UV.<br />
<br />
Aunque este será un torneo organizado por el ADR de la ETSE no se negará la participación a estudiantes de otras carreras de la UV, siendo la inscripción libre para todos los alumnos de la UV.
</p>
<p>
<h3>Más información:</h3>
<%= link_to "Bases del torneo", bases_path %><br />
<%= link_to "Emparejamientos", matchmakinginfo_path %>
</p>
