<h1>Matchmaking</h1>

<p id="notice"><%= notice.html_safe if notice %></p>
<p id="alert"><%= alert.html_safe if alert %></p>

<div id="matchmaking_info">
	<b>General seed:</b>
	<div class="seed"><%= @gen_seed %></div>
	<br />	
	
	<h3>Equipos ordenados por hash creciente:</h3>
	<hr style="border-top: 1px solid #fff; border-bottom: 1px solid #aaa">
	<% @ordered_teams.each do |team| %>
		<% if team.name %>
			<b><%= team.name %></b>:
			<span class="hash"><a href="#<%= team.name %>"><%= team.matching_hash %></a></span>			
			<br />
			<hr style="border-top: 1px solid #fff; border-bottom: 1px solid #ccc">
		<% end %>
	<% end %>
	<br />

	<h3>Semillas y hashes de cada equipo:</h3>
	<hr style="border-top: 1px solid #fff; border-bottom: 1px solid #aaa; margin-top:0px;"> 
	<% @teams.each do |team| %>
		<% if team.name %>
			<b id="<%= team.name %>"><%= team.name %></b>:
			<div class="seed"><%= @team_seed[team.id] %></div>
			<div class="hash"><%= team.matching_hash %></div>
			<div class="spoiler"><a href="#">^ Volver arriba</a></div>
			<hr style="border-top: 1px solid #fff; border-bottom: 1px solid #ccc">
		<% end %>
	<% end %>
	<br />
</div>
