<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team1_id %><br />
		<%= collection_select(:match, :team1_id, Team.all, :id, :name, :prompt => "Seleccionar equipo:") %>
  </div>
    <div class="field">
    <%= f.label :team2_id %><br />
    <%= collection_select(:match, :team2_id, Team.all, :id, :name, :prompt => "Seleccionar equipo:") %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :round %><br />
    <%= f.number_field :round %>
  </div>
  <div class="field">
    <%= f.label :winner_id %><br />
<!--
    <%= f.number_field :winner_id %>
-->
    <%= collection_select(:match, :winner_id, @match.teams, :id, :name) if @match.id %>
		
  </div>
  <div class="field">
    <%= f.label :replay_id %><br />
    <%= f.number_field :replay_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
