<!--
<table>
  <tr>
    <th>Team1</th>
    <th>Team2</th>
    <th>Date</th>
    <th>Winner</th>
    <th>Replay</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matches.each do |match| %>
  <tr>
    <td><%= match.team1_id %></td>
    <td><%= match.team2_id %></td>
    <td><%= match.date %></td>
    <td><%= match.winner_id %></td>
    <td><%= match.replay_id %></td>
    <td><%= link_to 'Show', match %></td>
    <td><%= link_to 'Edit', edit_match_path(match) %></td>
    <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
-->

<ul id="rounds">
	<% if @round > 7 %>
		<li><%= link_to "Octavos", matches_round_path(8), :class=>"selected" %></li>
	<% else %>
		<li><%= link_to "Octavos", matches_round_path(8) %></li>
	<% end %>
	<% if @round == 4 %>
		<li><%= link_to "Cuartos", matches_round_path(4), :class=>"selected" %></li>
	<% else %>
		<li><%= link_to "Cuartos", matches_round_path(4) %></li>
	<% end %>
	<% if @round == 2 %>
		<li><%= link_to "Semifinales", matches_round_path(2), :class=>"selected" %></li>
	<% else %>
		<li><%= link_to "Semifinales", matches_round_path(2) %></li>
	<% end %>
	<% if @round == 1 %>
		<li><%= link_to "Finales", matches_round_path(1), :class=>"selected" %></li>
	<% else %>
		<li><%= link_to "Finales", matches_round_path(1) %></li>
	<% end %>
<!--
	<li><%= link_to "Cuartos", matches_round_path(4), :class => "disabled" %></li>
	<li><%= link_to "Semifinales", matches_round_path(2), :class => "disabled" %></li>
	<li><%= link_to "Finales", matches_round_path(1), :class => "disabled" %></li>
-->
</ul>

<div id="matches" style="text-align: center;">
	<% @matches.each do |match| %>
		<% if match.winner_id == match.team1.id 
			winner_class = "winner1"
		elsif match.winner_id == match.team2.id 
			winner_class = "winner2"
		else
			winner_class = ""
		end %>
		<div class="match <%= winner_class %>">
			<a href="teams/<%= match.team1.id %>"><div class="team1" style="background-image: url('<%= image_path match.team1.logo(:thumb) %>')"></div></a>
			<div class="vs"></div>
			<a href="teams/<%= match.team2.id %>"><div class="team2" style="background-image: url('<%= image_path match.team2.logo(:thumb) %>')"></div></a>
			
			<% if current_user && current_user.role == 1 %>
				<%= link_to image_tag("edit.png", :height=>"18px"), edit_match_path(match), :class=>"edit_match" %>
			<% end %>
<!--
			<span class="spoiler"><%= match.team1.name %><br /> vs. <br /> <%= match.team2.name %></span>
-->
		</div>
	<% end %>
</div>
