<p id="notice"><%= notice %></p>

<p>
  <b>Team 1:</b>
  <%= @match.team1_id %>
</p>

<p>
  <b>Team 2:</b>
  <%= @match.team2_id %>
</p>

<p>
  <b>Date:</b>
  <%= @match.date %>
</p>

<p>
  <b>Winner:</b>
  <%= @match.winner_id %>
</p>

<p>
  <b>Replay:</b>
  <%= @match.replay_id %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
