// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#matches {
	.match{
		width:155px; /* total 200px */
		height:85px;
		display:inline-block;
		padding: 0 10px;
		margin:10px;
		margin-bottom:15px;
		border-radius: 3px;
		background:{
			color: #82A7C8;
		}
		
		border-top: 1px solid #aaa;
		border-left: none;
		border-bottom: 1px solid #aaa;
		border-right: none;
		
		background: -moz-linear-gradient(left,  #EFEFEF 0%, #ddd 50%, #efefef 100%); /* FF3.6+ */
/*
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #EFEFEF 0%, #ddd 50%, #efefef 100%%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #EFEFEF 0%, #ddd 50%, #efefef 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #EFEFEF 0%, #ddd 50%, #efefef 100%); /* IE10+ */
		background: linear-gradient(to left,  #EFEFEF 0%, #ddd 50%, #efefef 100%); /* W3C */
		background-repeat: no-repeat;
	
		div{
			margin: 0;
			width:60px; /* total 76 */
			padding: 0;
			height:85px;
			display: inline-block;
			background:{
				size: auto 60px;
				repeat: no-repeat;
				position:center;
			}
		}
		.vs{
			display: inline-block;
			width:50px;
			margin-right:-57px;
			position:relative;
			left: -29px;
			background-image: url(image_path("vs.png"));
			background-size: 20px;
		}
		.team1{
			margin-right:16px;
			border-right: 1px solid #aaa;
		}
		.team2{
			margin-left:16px;
			border-left: 1px solid #aaa;
		}		
	}
	.winner1{
		background: -moz-linear-gradient(right,  #EFEFEF 0%, #ddd 45%,  #B1CEDA 61%, #efefef 100%); /* FF3.6+ */
/*
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */

		background: -webkit-linear-gradient(right,  #EFEFEF 0%, #ddd 45%,  #B1CEDA 61%, #efefef 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(right,  #EFEFEF 0%, #ddd 45%,  #B1CEDA 61%, #efefef 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(right,  #EFEFEF 0%, #ddd 45%,  #B1CEDA 61%, #efefef 100%); /* IE10+ */
		background: linear-gradient(to left,  #EFEFEF 0%, #ddd 45%,  #B1CEDA 61%, #efefef 100%); /* W3C */
		background-repeat: no-repeat;
	}
	.winner2{
		background: -moz-linear-gradient(left,  #EFEFEF 0%, #ddd 45%,  #B1CEDA 61%, #efefef 100%); /* FF3.6+ */
/*
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */

		background: -webkit-linear-gradient(left,  #EFEFEF 0%, #ddd 45%,  #B1CEDA 61%, #efefef 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #EFEFEF 0%, #ddd 45%,  #B1CEDA 61%, #efefef 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #EFEFEF 0%, #ddd 45%,  #B1CEDA 61%, #efefef 100%); /* IE10+ */
		background: linear-gradient(to right,  #EFEFEF 0%, #ddd 45%,  #B1CEDA 61%, #efefef 100%); /* W3C */
		background-repeat: no-repeat;
	}
	
	.spoiler{
		width:170px;
		display: block;
		text-align:center;
		overflow:none;
	}
	
	.edit_match{
		float:right;
		position:relative;
		top:-25px;
		right:-10px;
	}
}

#rounds{
	li{
		display:inline-block;
		text-align:center;
		
		a{
			margin: 2px 2px;
			display:block;
			width:125px;
			padding: 10px 20px;
			border-radius: 5px;
			
			border-top: 1px solid #efefef;
			border-left: 1px solid #efefef;
			border-bottom: 1px solid #bbb;
			border-right: 1px solid #bbb;
				
			background: -moz-linear-gradient(top,  #ddd 0%, #ccc 55%,  #cecece 61%, #ccc 100%); /* FF3.6+ */
	/*
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */

			background: -webkit-linear-gradient(top,  #ddd 0%, #ccc 55%,  #cecece 61%, #ccc 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #ddd 0%, #ccc 55%,  #cecece 61%, #ccc 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #ddd 0%, #ccc 55%,  #cecece 61%, #ccc 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #ddd 0%, #ccc 55%,  #cecece 61%, #ccc 100%); /* W3C */
			
			&:hover {
				-moz-box-shadow: inset 2px 2px 5px #999;
				-webkit-box-shadow: inset 2px 2px 5px #999;
				box-shadow: inset 2px 2px 3px #ccc;
				
				border-top: 1px solid #bbb;
				border-left: 1px solid #bbb;
				border-bottom: 1px solid #ccc;
				border-right: 1px solid #ccc;
				color: #1F4E77;
			}
		}
		.selected{
			-moz-box-shadow: inset 2px 2px 5px #999;
			-webkit-box-shadow: inset 2px 2px 5px #999;
			box-shadow: inset 2px 2px 3px #ccc;
			
			border-top: 1px solid #bbb;
			border-left: 1px solid #bbb;
			border-bottom: 1px solid #ccc;
			border-right: 1px solid #ccc;
		}
		.disabled{
			cursor:default;
			opacity: 0.5;
			color: black;
			
			&:hover {
				-moz-box-shadow: inset 2px 2px 5px #999;
				-webkit-box-shadow: inset 2px 2px 5px #999;
				box-shadow: none;
				
				border-top: 1px solid #efefef;
				border-left: 1px solid #efefef;
				border-bottom: 1px solid #bbb;
				border-right: 1px solid #bbb;
				color:black;
			}
		}
	}
}
