// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news, #news{
	
	.header{
		margin-bottom:10px;
		h3 {
			margin-bottom: -2px;
		}
		.author{
			font-size:14px;
		}
		
		.published{
			font-size:14px;
		}
	}
}

#news{
	h1{
		margin-bottom:0px;
	}

}
