// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/************************
 * PAGES
 */

.logo{
	display: block;
	margin: 20px auto;
}
#torneo_logo{
	padding-top: 40px;
	background: transparent;
}
#menu {
	color: #ededed;
	/*font: 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
	font-family: "Friz";
	list-style-type: none;
	margin: 150px auto 0 auto;
	width: 672px; /* total: 736, actual bar: 654 */
	height: 230px; /* total: 259 */
	background: url(image_path('menuandshadow.png')) no-repeat;
	padding: 29px 30px 0 41px;
	
	ul{
		display: inline-block;
		margin: 0px;
		padding-left: 0;
	}
	
	a{
		width: 130px;
		height: 54px;
		display: block;
		text-decoration: none;
		color: #ededed;
		line-height: 53px;
		text-align: center;
		margin-right: -3px;
		position: relative;
		z-index: 2;
	}
	
	.first{
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.last{
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	a:hover{
		color: #fff;
		background: rgba(0, 0, 0, 0.2);
	}
	
	#connected{
		color:#70DCB6;
	}
}

.chibi{
	/*float: right;*/
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	width: 180px;
	position: relative;
	/*top: -366px;*/
	top: -190px;
	left: 330px;
	z-index:1;
}
#galio{
	/*background-image: url("../app/assets/images/lol_chibi_galio_by_lillyfrost-d4kxlbj.png");
	background-size: 180px;
	background-repeat: no-repeat;*/
	width: 300px;
	height: 150px;		
}

/**************************
 * INFO
 * */

#bases{
	li{
		margin-bottom: 5px;
	}
}

h3{
	margin-bottom: 7px;
}

/**************************
 * MATCHMAKING INFO
 * */

#matchmaking_info{
/*
	width:700px;
*/
	word-wrap: break-word; 
	.seed{
		font-size:80%;
		color: #4F4F4F;
	}
	.hash{
		font-size:90%;
		color: #35546E;
	}
}
