/*
 body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
*/

/*
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
*/

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #1F4E77;
  &:visited {
    color: #1F4E77;
  }
  &:hover {
    color: #265494;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}


.notice, #notice{
	font-size: 90%;
	color: green;
}

.alert, #alert{
	font-size: 90%;
	color: red;
}

.error{
	font-size: 90%;
	color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

body{
	width: 100%;
	position: absolute;
	font-family: Myriad,Arial,Helvetica;
	top: 0px;
  bottom: 0px;
  margin:0;
  padding-top:50px;
	background: none; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background-repeat: no-repeat;
	
	background: {
		image: url(image_path('header1.png'));
		color: #efefef;
		repeat:no-repeat;
		position:top left;
	}
	
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
#content{
	margin-left: auto;
	margin-right: auto;
}


h1{
	line-height:32px;
	font-size:32px;
	font-family: Friz, Arial, Helvetica;
}
h2, h3{
	font-family: Friz, Arial, Helvetica;
}

#wrapper{
	width: 800px;
		
	margin: 0 auto;
	margin-bottom:50px;
	padding: 15px 40px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 5px 5px 10px #ddd;
	-webkit-box-shadow: 5px 5px 10px #ddd;
	box-shadow: 5px 5px 10px #ddd;
	border: 1px solid #fefefe;
	border-top: none;
	
	background:{
		color:#efefef;
		image: url(image_path("hexa1.png"));
		repeat:no-repeat;
/*
		position: -190px -50px;
*/
	}
}

#header{
	width:886px;
	height:100px;
	
	margin: 10px auto;
	padding-top: 50px;
	
	position:relative;
	top: 0px;
	
	.logred{
		float:left;
		height:200px;
		top:-90px;
		
		margin-right:-300px;
		
		display:block;
		position:relative;
		right:-38px;
			
		background:{
			size:auto 200px;
			position:left bottom;
			repeat:no-repeat;
		}
	}
	
	#lee_sin{
		background-image: url(image_path("chibis/lee_sin__the_blind_monk_by_yanniplum-d4huc8l.png"));
		width:140px;
		height:219px;
		right:-47px;
	}
	
	#leblanc{
		background-image: url(image_path("chibis/leblanc__the_deceiver_by_yanniplum-d4hhmnd.png"));
		width:180px;
		height:219px;
		right:-23px;
	}
	
	#yorick{
		background-image: url(image_path("chibis/yorick_the_gravedigger_by_yanniplum-d4ozomq.png"));
		width:180px;
		height:227px;
		right:-25px;
	}
	
	#news{
		list-style-type: none;
		display: inline-block;
		
		ul{
			margin:5px 0px;
		}
	}
}

#menu-wrapped {
	color: #ededed;
	/*font: 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
	font-family: "Friz";
	list-style-type: none;
	width: 672px; /* total: 736, actual bar: 654 */
	height: 88px; /* total: 259 */
	background: url(image_path('menuandshadow.png')) no-repeat;
	padding: 29px 30px 0 41px; /* Don't touch! */
	margin: 0px 0 -10px 186px; /* Use to control menu's position */
	
	li{
		display: inline-block;
		margin: 0px;
		padding-left: 0;
		float:left;
		
		&:hover ul{
			left:0;
		}		
		
		&:hover a{
			background: rgba(0, 0, 0, 0.2);
		}
	}
	
	a{
		width: 133px;
		height: 54px;
		display: block;
		text-decoration: none;
		color: #ededed;
		line-height: 53px;
		text-align: center;
		margin-right: -3px;
		position: relative;
		z-index: 2;
	}
	
	.first{
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		width:134px;
	}
	.last{
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		width:134px;
	}
	a:hover{
		color: #fff;
		background: rgba(0, 0, 0, 0.2);
	}
	
	#connected{
		color:#70DCB6;
	}
	
	ul{
		float:left;
		position:relative;
		left:-9999px; 
		display:inline-block;
		width: 131px;
		
		padding:0;
		background: rgba(3,28,62,0.6);
		
		-moz-box-shadow: 1px 1px 2px #777;
		-webkit-box-shadow: 1px 1px 2px #777;
		box-shadow: 1px 1px 2px #777;
		
		text-align: center;
		line-height:20px;
		border-radius: 7px;
		border-top-right-radius:0px;
		border-top-left-radius:0px;
		border-top: 1px solid #bbb;

		font-size:13px;
		margin-bottom: -9999px;
		
		a {
			white-space:nowrap;
			line-height:25px;
			height:25px;
			width: 131px;
			cursor:pointer;
			
			&:hover{
				background: rgba(3,28,62,0.5);
			}
		}
		
		li{
			padding-top: 1px;
			float:none;
			display:block;
		}	
	}
}

#footer{
	width: 700px;
	margin: 30px auto;
	font-size: 80%;
	color: #6C97AE;
	text-align:center;
}


/********************
 * GENERAL
 * */

.short_input{
	width: 150px;
}

input[type="text"], input[type="password"]{
	border: 1px solid #bbb;
	border-radius: 3px;
	height: 18px;
	width:240px;
}



/*********************
 * FONTS
 * */
 
@font-face {
	font-family: 'Friz';
  src: url(font-path('friz.ttf')) format('truetype');
}

@font-face{
	font-family: 'Myriad';
	src: url(font-path('MyriadPro-Regular.eot'));
	src: local('Myriad-Pro'), url(font-path('MyriadPro-Regular.ttf')) format('truetype'); /* non-IE */
	src: local('Myriad-Pro'), url(font-path('MyriadPro-Regular.otf')), url(font-path('MyriadPro-Regular.woff')) format('woff');
}
