// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/****************************
 * NEW
 * */

#new_team{
	width: 100%;
	td{
		width:45%;
		margin:0 3px;
		padding:5px 10px;
		vertical-align:top;
	}
	
	#left div{
		padding-top:10px;
		margin: 10px 0;
	}
	
	.summ_container{
		cursor: pointer;
		padding:4px 10px;
		border-radius: 4px;
		margin: 4px 0;
		
		line-height:18px; /* Force line height */
				
		&:hover{
			@extend .selected;
		}
		
		.summ{
			padding: 4px 4px;
			padding-left: 20px;
			padding-bottom: 0px;
			background:{
				image: url(image_path('merit_s.gif'));
				repeat:no-repeat;
				size: 16px 16px;
				position:left center;
			}
		}
		.summ_desc{
			display:none;
			padding: 10px;
			padding-bottom:0px;
			
			input{
				margin-bottom:10px;
			}
		}
	}
	.selected{
		padding:3px 9px;
		background: #e7e7e7;
		border: 1px solid #f5f5f5;
		
		-moz-box-shadow: inset 1px 1px 4px #b0b0b;
		-webkit-box-shadow: inset 1px 1px 4px #b0b0b;
		box-shadow: inset 1px 1px 4px #b0b0b0;
	}
	
	#right{
		border-left: solid 1px #aaa;
	}

}

.alumni_email{
	color:#777;
	display:inline;
	font-size:12px;
	margin-left:-83px;
}

#spoiler,.spoiler{
	width: 700px;
	font-size: 80%;
	font-family: Helvetica, Arial;
	color: #143C5F;
	
	a { 
/*
		color: #1F4E77;
*/
		color: #507BA0;
	}
}


/********************************
 * INDEX
 */

#teams_index{
	font-family: Friz;
	
	.team{	
		height:32px;
		padding:0px;
/*
		margin:3px 0 10px 10px;
*/
		padding:5px 0 10px 10px;
		line-height:32px;
		vertical-align:middle;
		
		border-bottom:1px solid #bbb;
		border-top:1px solid #fff;
		
		span{
			display:inline-block;
			margin-left:10px;
		}
		
		&:hover{
			background-color: #e7e7e7;
		}
	}
	.glow{
		background: #E2ECEE;
		
		&:hover{
			background: #D2E4E7;
		}
	}
	
	.teams_head{
		height:32px;
		padding:0px;
/*
		margin:3px 0 10px 10px;
*/
		padding:3px 0 5px 10px;
		line-height:32px;
		vertical-align:middle;
		border-bottom:1px solid #bbb;
		
		span{
			display:inline-block;
			margin-left:10px;
		}
	}
	
	.t_logo{
		height:32px;
		display:inline-block;
	}
	.name{
		vertical-align:10px;
	}
	.results{
		margin-right:10px;
		margin-top:3px;
		float:right;
		
		span{
			width:40px;
			text-align:center;
		}
		
		.points{
			font-weight: bold;
		}
	}
}
 
.t_logo{
	@extend t_logo;
	display:inline;
}

.button{
	float:right;
}


/**********************************
 * SHOW
 * */
 
#t_logo{
	@extend t_logo;

	float:right;
}

#not_verified{
	color: #333;
	height:32px;
	line-height: 32px;
	font-size:85%;
	padding-left: 35px;
	background:{
		image: url(image_path("Alert.png"));
		position:left;
		repeat:no-repeat;
	}
	opacity: 0.8;
	cursor: default;
	
	&:hover{
		opacity: 1;
	}
}

/*********************************
 * JOIN
 * */
 
#join{

	div{
		width:398px;
		height: 250px; /* total: 400px */
		display:inline-block;
		text-align:center;
		margin:0px;
		padding-top:150px;
	}
	
	#premade{
		border-left: 1px solid #fff;
		background:{
			image: url(image_path('renders/shyvanarenderfire-resize.png'));
			size: 450px;
			repeat:no-repeat;
			position: left 60%;
		}
	}
	
	#recruit{
		border-right: 1px solid #aaa;
		background:{
			image: url(image_path('renders/OtoSg-resize.png'));
			size: 400px;
			repeat:no-repeat;
			position: right ;
		}
	}
	
	.join_button{
		display:inline-block;
		width:190px;
		height:37px;
		line-height:35px;
		background:{
			image: url(image_path('butblue1.png'));
			repeat:no-repeat;
		}
		
/*
		-moz-box-shadow: inset 1px 1px 4px #aaa;
		-webkit-box-shadow: inset 1px 1px 4px #aaa;
		box-shadow: 2px 2px 4px #333;
*/
		
		a{
			display:inline-block;
			color: #efefef;
			width:190px;
			height:37px;
			border-radius: 3px;
			
			-moz-box-shadow: inset 1px 1px 4px #aaa;
			-webkit-box-shadow: inset 1px 1px 4px #aaa;
			box-shadow: 2px 2px 4px #333;
			
			&:hover{
/*
				background:rgba(0,0,0,0.2);
*/
				
				-moz-box-shadow: inset 1px 1px 4px #aaa;
				-webkit-box-shadow: inset 1px 1px 4px #aaa;
				box-shadow: inset 2px 2px 4px #000;
			}
		}
	}
	

}



/**********************************
 * BUTTONS
 * */

#unete_but a{
	background:{
		image: url(image_path("Revive.png"));
	}
	
	margin:10px 0;
	@extend metalic_but;
}

#send_but input{	
	margin-top:10px;
	
	background:{
		image: url(image_path("Ignite.png"));
	}
	@extend metalic_but;
}

#back_but a{
	background:{
		image: url(image_path("Teleport.png"));
	}
	
	margin:10px 0;
	@extend metalic_but;
}

#edit_but a{
	background:{
		image: url(image_path("Clarity.png"));
	}
	
	margin:10px 0;
	@extend metalic_but;
}

#delete_but a{
	background:{
		image: url(image_path("button_cancel.png"));
	}
	
	margin:10px 0;
	@extend metalic_but;
}

#email_but a{
	background:{
		image: url(image_path("email-pointer-icon-on-a-striped_small.jpg"));
	}
	
	margin:10px 0;
	@extend metalic_but;
}

/**********************************
 * GENERAL
 * */

a{
	text-decoration: none;
	
	&:hover{
		color: #649BBC;
		background:{
			color:transparent;
		}
	}
}



/***********************************
 * UTILITIES
 * */
 
metalic_but{
	height:32px;
	width: 60px;
	display:inline-block;
/*
	overflow:hidden;
*/

	-moz-box-shadow: 1px 1px 2px #777;
	-webkit-box-shadow: 1px 1px 2px #777;
	box-shadow: 1px 1px 2px #777;
	
	padding:0px;
	padding-left: 45px;
	padding-right:20px;
	text-align: center;
	line-height:32px;
	border-radius: 7px;
	
	border-top: 1px solid #efefef;
	border-left: 1px solid #efefef;
	border-bottom: 1px solid #bbb;
	border-right: 1px solid #bbb;
	
	/* Avoid weird box by input */
	box-sizing:content-box;
	-moz-box-sizing:content-box; /* Firefox */
	font-family: Friz, Arial, Helvetica;
	font-size:100%;
	
	color: #eee;
	
	background:{
		position: left;
		size: 32px 32px;
		repeat:no-repeat;
		color:#1B2C36
	}
	
	&:hover{
		-moz-box-shadow: inset 2px 2px 5px #111;
		-webkit-box-shadow: inset 2px 2px 5px #111;
		box-shadow: inset 2px 2px 3px #111;
		
		border-top: 1px solid #bbb;
		border-top: 1px solid #bbb;
		border-left: 1px solid #bbb;
		border-bottom: 1px solid #ddd;
		border-right: 1px solid #ddd;
	}
}

t_logo{
	img{
		border-top: 1px solid #fff;
		border-left: 1px solid #fff;
		border-bottom: 1px solid #ddd;
		border-right: 1px solid #ddd;
		
		-moz-box-shadow: 1px 1px 2px #777;
		-webkit-box-shadow: 1px 1px 2px #777;
		box-shadow: 1px 1px 1px #aaa;
	}
}
