// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 .uvuser{
	font-size: 15px;
	font-weight: normal;
	vertical-align:10%;
	margin-left:10px;
	color: #1F4E77;
}

#change_password,#user_positions,#seed_form{
	width: 350px;
	border-radius: 7px;
	border: 1px solid #bbb;
	padding: 15px;
	margin-bottom:10px;
	
	.spoiler{
		width:auto;
	}
}

#user_positions{
	.up, .down{
		cursor:pointer;
	}
	.arrows{
		display:inline-block;
	}
	
	.add_role{
		font-size:90%;
		cursor:pointer;
	}
	
	.remove_role{
		font-size:90%;
		cursor:pointer;
		float:right;
		position:relative;
		right:180px;
	}
	
	#missing_roles{
		display:none;
		font-size:90%;
		float:right;
		position:relative;
		right:200px;
		top:-5px;
		
		width: 50px;
		line-height: 18px;
		margin-left:-72px; /* 50px + 20 from padding + 2 from... border?*/
		background: #fff;
		padding:5px 10px;
		border-radius: 3px;
		border: 1px solid #aaa;
		
		a{
			cursor:pointer;
			display:block;
			height:18px;
		}
	}
	
	#update_roles{
		float:right;
	}
}
