// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#error{
	font-size:85%;
	color: red;
	list-style-type: none;
	margin-top:-10px;
	margin-bottom:10px;
}

#login input[type="text"], input[type="password"]{
	width:280px;
}

.forgot {
	font-size: 85%;
}
