<%= form_for @user_session do |f| %>
	<% if @user_session.errors.any? %>
		<div id="error">
			<% @user_session.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
		</div>
	<% end %>
	
	<div id="notice"><%= notice %></div>

	<div class="field">
		<%= f.label :username, "Usuario" %><br />
		<%= f.text_field :username %>
	</div>
	<div class="field">
		<%= f.label :password, "Contraseña" %><br />
		<%= f.password_field :password %>
	</div>
	<div>
		<%= link_to "He olvidado mi contraseña.",req_new_password_path, :class => "forgot" %>
	</div>
	<br />
	<div class="actions" style="text-align:center">
		<%= f.submit "Enviar" %>
	</div>
<% end %>
